<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.kit.pse.bdhkw">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".client.controller.NetworkIntentService"
                 android:exported="false"></service>

        <service android:name=".client.model.GoIntentService"
            android:exported="false"/>
        <service android:name=".client.model.GpsService" android:process=":gps_service" />


        <activity android:name=".client.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".client.view.UsernameActivity">
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".client.view.GroupnameActivity">
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".client.view.GroupActivity">
            <intent-filter android:autoVerify="true">



                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="https"
                    android:host="i43pc164.ipd.kit.edu"
                    android:pathPrefix="/PSEWS1617GoGruppe3/server" />
                <data android:scheme="https"
                    android:host="www.i43pc164.ipd.kit.edu"
                    android:pathPrefix="/PSEWS1617GoGruppe3/server" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data android:scheme="i43pc164.ipd.kit.edu"
                    android:host="/PSEWS1617GoGruppe3" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".client.view.BaseActivity">
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
       <!-- <meta-data
            //android:name="com.google.android.gms.version"
            //android:value="@integer/google_play_services_version" />-->
    </application>


</manifest>
